extends layout

block content

  // Container
  #container

    // Contact list
    h2 Contacts
    #contactList
      table
        thead
          th Name
          th Email
          th Delete?
        tbody
    // / Contact List

  // /Container
